{% extends base_template %}
{% load filters %}  


{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

    <div class="p-3">
        
            <div class="card mb-4">
                <div class="card-header"><h3 class="card-title">Bordered Table</h3></div>
                <!-- /.card-header -->
                <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>title</th>
                        <th>code</th>
                        <th>niveau</th>
                    </tr>
                    </thead>
                    <tbody>
                        
                    {% for matiere in  qset%}
                            
                            
                    <tr class="align-middle">
                        <td>{{matiere.id}}</td>
                        <td>{{matiere.title}}</td>
                        <td>{{matiere.code}}</td>
                        <td>{{ matiere.niveau|niveau_display }}</td>  

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-end">
                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
                </div>
            </div>
    </div>   
{% endblock content %}
    