{% extends base_template %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
    <div class="p-3">
        
            <div class="card mb-4">
                <div class="card-header"><h3 class="card-title">Bordered Table</h3></div>
                <!-- /.card-header -->
                <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th style="text-align: center;">Nom</th>
                        <th style="text-align: center;">Prenom</th>
                        <th style="text-align: center;">action</th>
                    </tr>
                    </thead>
                    <tbody>
                        
                        {% for prof in qset %}
                        <tr class="align-middle" onclick="window.location='{{prof.id}}';" style="cursor: pointer;">
                            <td style="text-align: center;">{{prof.id}}</td>
                            <td style="text-align: center;">{{prof.nom}}</td>
                            <td style="text-align: center;">{{prof.prenom}}</td>
                            <td style="text-align: center;">
                                <div class="btn-group">
                                    <button type="button" onclick="event.stopPropagation();" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Options
                                    </button>
                                    <ul class="dropdown-menu" >
                                        <li><a class="dropdown-item" href="{% url 'educat:ensignant_modifier' prof.id %}">Modifier</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    
                    

                    </tbody>
                </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-end">
                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
                </div>
            </div>
    </div>   
{% endblock content %}
    